@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'RobotoSerif';
  src: url('/fonts/Roboto_Serif/RobotoSerif-VariableFont_GRAD,opsz,wdth,wght.ttf')
    format('truetype-variations');
  font-weight: 100 900; /* Adjust range based on font's supported weights */
  font-stretch: 75% 125%; /* Adjust range based on font's supported widths */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto/Roboto-VariableFont_wdth,wght.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'RobotoMono';
  src: url('/fonts/RobotoMono/RobotoMono-VariableFont_wght.ttf');
  font-display: swap;
}

:root {
  --bg-color-dark: #333;
  --text-color: #000;
  --header-text-color: #fff;
}

@layer base {
  h1 {
    @apply text-3xl;
    @apply font-robotoSerif;
  }
  h2 {
    @apply text-2xl;
    @apply font-robotoSerif;
  }
  h3 {
    @apply text-xl;
  }
  p {
    @apply text-sm;
    font-family: 'Roboto';
    letter-spacing: 1px;
  }
}

html,
body {
  height: 100%;
  margin: 0;
  scroll-behavior: smooth;
}
